.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  background-color: hsl(212, 45%, 89%);
}

.img {
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  border-radius: 25px;
}

.main-heading {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  text-align: center;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
}

.card-text {
  color: hsl(220, 15%, 55%);
  text-align: center;
  padding-bottom: 1rem;
}

.card {
  font-family: "Outfit", sans-serif;
}
